<nav>
    <div class=site-title>
        <a href="/"><h1>blog ninja</h1></a>
        <p>learning ejs</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blogs</a></li>
    </ul>
</nav>
