<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home | <%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aliquid recusandae tenetur repellendus labore quam at cumque eveniet, consequuntur eaque voluptates esse placeat odit quia, iusto, commodi aspernatur eos culpa.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus amet ut, cupiditate quia eaque perspiciatis corporis reprehenderit, illo quod molestiae nemo harum dolorum. Nihil, perspiciatis! Enim voluptas sunt dolorum?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>  